<form #f="ngForm" style="width=100%">

  <br />
  <br />
  <br />
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Comment
        </th>
        <th>
          UI Rating
        </th>
        <th>
          Response Rating
        </th>
        <th>
          Overall Rating
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of deployment$ | async">
        <td>{{ project.date.seconds * 1000 | date:'MM-dd-yyyy' }}</td>
        <td id="deployName">{{ project.comments }}</td>
        <td id="deployName">{{ project.ratingUI }}</td>
        <td id="deployName">{{ project.ratingResponse }}</td>
        <td id="deployName">{{ project.ratingAll }}</td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="pageNumber <= 1" style="padding-right:50px">
        <a class="page-link fas fa-chevron-left fa-2x" (click)="previous()"></a>
      </li>

      <!--
      <li *ngFor="let item of getNumber(); let i = index;" class="page-item" [class.active]="i+1 == pageNumber">
        <a class="page-link" (click)="specificRecord(i + 1)">{{i + 1}}</a>
      </li>
        -->
      <li class="page-item" [class.disabled]="pageNumber >= totalPages">
        <a class="page-link fas fa-chevron-right fa-2x" (click)="next()"></a>
      </li>
    </ul>
  </nav>
  <div *ngIf="isNotEmpty">
    <div style="width: 50%; float:left;">
      <google-chart [title]="'Average Rating'"
                    [type]="'ColumnChart'"
                    [data]="myData"
                    [columnNames]="myColumnNames"
                    [options]="myOptions">
      </google-chart>
    </div>
    <div style="width: 50%; float:right;">
      <google-chart [title]="'Up Vote and Down Vote Count'"
                    [type]="'PieChart'"
                    [data]="myData1"
                    [columnNames]="myColumnNames1"
                    [options]="myOptions">
      </google-chart>
    </div>
  </div>
</form>


