<form #f="ngForm" style="width=100%">
  <br />
  <br />
  <br />
  <br />
  <p style="text-align:center; font-size:x-large; font-weight:bold">Feedback Comments</p>
  <table class="table" id="feedback-table">
    <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Comment
        </th>
        <th>
          UI Rating
        </th>
        <th>
          Response Rating
        </th>
        <th>
          Overall Rating
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of deployment$ | async">
        <td>{{ project.date.seconds * 1000 | date:'MM-dd-yyyy' }}</td>
        <td id="deployName">{{ project.comments != "" ? project.comments : "N/A"}}</td>
        <td id="deployName1">{{ project.ratingUI != 0 ? project.ratingUI : "N/A"}}</td>
        <td id="deployName2">{{ project.ratingResponse != 0 ? project.ratingResponse : "N/A" }}</td>
        <td id="deployName3">{{ project.ratingAll != 0 ? project.ratingAll : "N/A" }}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="pageNumber <= 1" style="padding-right:50px">
        <a class="page-link previous round" (click)="previous()">&#8249;</a>
      </li>


      <li class="page-item" [class.disabled]="pageNumber >= totalPages">
        <a class="page-link next round" (click)="next()">&#8250;</a>
      </li>
    </ul>
  </nav>



  <br />
  <br />
  <br />
  <br />
  <p style="text-align:center; font-size:x-large; font-weight:bold">Negative Feedback Responses</p>
  <table class="table" id="feedbackQuesAns-table">
    <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Question
        </th>
        <th>
          Answer
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let questionAns of questAnswerList$ | async">
        <td>{{ questionAns.date.seconds * 1000 | date:'MM-dd-yyyy' }}</td>
        <td id="question">{{ questionAns.Question != "" ? questionAns.Question : "N/A"}}</td>
        <td id="answer">{{ questionAns.Answer != "" ? questionAns.Answer : "N/A"}}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="qApageNumber <= 1" style="padding-right:50px">
        <a class="page-link previous round" (click)="previousQA()">&#8249;</a>
      </li>

      <li class="page-item" [class.disabled]="qApageNumber >= qAtotalPages">
        <a class="page-link next round" (click)="nextQA()">&#8250;</a>
      </li>
    </ul>
  </nav>

  <br />
  <br />
  <br />
  <br />
  <p style="text-align:center; font-size:x-large; font-weight:bold">Default Intent Messages</p>
  <table class="table" id="defaultAns-table">
    <thead>
      <tr>
        <th>
          Message
        </th>
        <th>
          Intent Id
        </th>
        <th>
          Intent Name
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let defaultIntent of defaultIntentList$ | async">
        <td id="message">{{ defaultIntent.message!= "" ? defaultIntent.message : "N/A"}}</td>
        <td id="id">{{ defaultIntent.intent_Id!= "" ? defaultIntent.intent_Id : "N/A"}}</td>
        <td id="name">{{ defaultIntent.intent_Name!= "" ? defaultIntent.intent_Name : "N/A"}}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="defaultQApageNumber <= 1" style="padding-right:50px">
        <a class="page-link previous round" (click)="previousDefaultQA()">&#8249;</a>
      </li>

      <li class="page-item" [class.disabled]="defaultQApageNumber >= defaultQAtotalPages">
        <a class="page-link next round" (click)="nextDefaultQA()">&#8250;</a>
      </li>
    </ul>
  </nav>
  <br />
  <br />
  <br />
  <br />

  <div *ngIf="isNotEmpty">
    <div style="width: 50%; float:left;">
      <google-chart [title]="'Average Rating'"
                    [type]="'ColumnChart'"
                    [data]="myData"
                    [columnNames]="myColumnNames"
                    [options]="myOptions">
      </google-chart>
    </div>
    <div style="width: 50%; float:right;">
      <google-chart [title]="queryCountMapHeader"
                    [type]="'PieChart'"
                    [data]="myData1"
                    [columnNames]="myColumnNames1"
                    [options]="myOptions">
      </google-chart>
    </div>
  </div>
</form>

