

<div style="width: 50%; float:left;">
  <div style="font-weight: bold;"><h1>TeXA</h1></div>
  <div><h4>Texas Assistant</h4></div>
</div>

<div style="width: 50%; float:right;">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p style="font-weight: bold;">Texas Child Support System handles 1 million cases every year.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">Texas Child Support System has supported half 2 million childs.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">Texas Child Support System is biggest one in US.</p>
      </div>
    </div>
  </div>
</div>
