<!--
<div fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutGap="32px"
     fxLayoutAlign="flex-start">
  <chat-card fxFlex="0 1 calc(100% - 32px)"
             fxFlex.lt-md="0 1 calc(50% - 32px)"
             fxFlex.lt-sm="100%"></chat-card>

  <card1 fxFlex="0 1 calc(50% - 32px)"
         fxFlex.lt-md="0 1 calc(50% - 32px)"
         fxFlex.lt-sm="100%"></card1>
  <card2 fxFlex="0 1 calc(50% - 32px)"
         fxFlex.lt-md="0 1 calc(50% - 32px)"
         fxFlex.lt-sm="100%"></card2>
</div>
    -->

<script>
  
  angular
    .module('ChatModule', ['luegg.directives', 'ngSanitize']);

  
</script>

<div class="d-flex flex-column">
  <div class="p-2 header-footer-color text-white">
    <div style="width: 50%; float:left;">
      <div style="font-weight: bold;"><h1>TeXA</h1></div>
      <div><h4>Texas Assistant</h4></div>
    </div>

    <div style="width: 50%; float:right;">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p style="font-weight: bold;">Child support program was started In 1975 by name "The Child Support Enforcement and Paternity Establishment Program (CSE)" in USA.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">Maximum amount of child support comes from employers.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">TANF program is a support service which uses state funds to provide cash assistance to Texas families.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">QUICK is the online portal to view data of different state's child support.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">More than 10 Million cases were active in USA by Dec 2016.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">Never Assistance cases were most in USA in 2016.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">CSENET system is being used for interstate file transfer.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">Medicaid is a program jointly funded by the states and the federal government that reimburses hospitals and physicians for providing medical care to qualifying people.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">In USA, Texas state has most revenue in child support.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">About two-thirds of child support collections come from withholding income by employers.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">CSD work with the families and friends of incarcerated parent so they can act as liaisons between the Child Support Division and the parent.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">CSD Help Establishing Responsive Orders and Ensuring Support (HEROES) for Children in Military Families program.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">The Texas OAG and TWC developed links between the IV-D courts, OAG’s child support efforts, and local workforce boards to implement a model employment program (NCP Choices) for unemployed NCPs.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">The Texas Non-Custodial Parent (NCP) Choices is not a huge program —more than 10,000 parents have gone through it since it began in 2005, it is one of several innovative approaches that have boosted Texas into first place in the nation in child support collections.</p>
          </div>
          <div class="carousel-item">
            <p style="font-weight: bold;">The Child Support Review Process (CSRP) is an in-office administrative process to establish, modify, or enforce child,medical and dental support obligations and determine paternity.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row p-2">
    <div class="col-sm">
      <div scroll-glue #scrollMe class="footer-chat scrollbar" id="style-2">
        <div style="height:10px; background-color:white;"></div>
        <ng-container *ngFor="let message of messages | async; let i = index; last as isLast">

          <div class="message"
               [ngClass]="{'from' : message.sentBy === 'TeXA',
                'to' : message.sentBy === 'You'}">
            <span>{{message.sentBy}}</span>
            <br>
            <div [innerHTML]="message.contant  | linkify: 'message_value_' + i"></div>

            <ng-container *ngFor="let subMessage of message.subMessages">
              {{subMessage}} <br>
            </ng-container>
            <div style="text-align:right"><p style="font-size:small;">{{message.showtime | date:'short'}}</p></div>

          </div>
        </ng-container>
      </div>

      <div class="input-group mb-3 footer">
        <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" style="width:80%;"
               placeholder="Enter Your Message" aria-label="Enter Your Message" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button (click)="sendMessage()" class="btn btn-primary bg-secondary"
                  style="border-color:aliceblue !important" type="button" id="button-addon2">
            Send TeXA
          </button>
        </div>
      </div>


    </div>
    <div class="col-sm">
      <div class="accordion start-help scrollbar" style="overflow-x:hidden;" id="accordionExample">
        <div style="height:10px; background-color:white;"></div>

        <!-- <ng-container *ngFor="let helpSection of helpSections">

     <div class="card">
       <div class="card-header" id="helpSection.headerId">
         <h5 class="mb-0">
           <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#helpSection.id" aria-expanded="false" aria-controls="collapseOne">
             {{helpSection.label}}
           </button>
         </h5>
       </div>

       <div id="helpSection.id" class="collapse show" aria-labelledby="helpSection.headerId" data-parent="#accordionExample">
         <div class="card-body">

           <ng-container *ngFor="let intent of helpSections.intents">
             {{intent}}
             <button (click)="sendMessageFromLink(intent)" class="btn btn-link" type="button">
               Send TeXA
             </button>
             <br><hr>
           </ng-container>

         </div>
       </div>
     </div>


   </ng-container>--> 





        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                T2 Wiki
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              How to setup workspace for batch development?
              <button (click)="sendMessageFromLink('How to setup workspace for batch development?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
              <br><hr>
              Where will i get all developer guides?
              <button (click)="sendMessageFromLink('Where will i get all developer guides?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
              <br><hr>
              How to begin with  batch development?
              <button (click)="sendMessageFromLink('How to begin with  batch development?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                IWO
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Already 50% of my employee's wages are getting withheld, shall I go on withholding ATFEE on top of that?
              <button (click)="sendMessageFromLink('Already 50% of my employee\'s wages are getting withheld, shall I go on withholding ATFEE on top of that?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
              <br><hr>
              What should employer do if receives a wrong order?
              <button (click)="sendMessageFromLink('What should employer do if receives a wrong order?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                T2 Org Chart
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Where I can find T2 organization chart?
              <button (click)="sendMessageFromLink('Where I can find T2 organization chart?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Developer Help Corner
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              What are the code code values for Admin Review Level category?
              <button (click)="sendMessageFromLink('What are the code code values for Admin Review Level category?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
              <br><hr>
              What is the database schema detail for Predev1 database?
              <button (click)="sendMessageFromLink('What is the database schema detail for Predev1 database?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
              <br><hr>
              What are the CI_APPLICATION table details?
              <button (click)="sendMessageFromLink('What are the CI_APPLICATION table details?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
              <br><hr>
              What is master message 1?
              <button (click)="sendMessageFromLink('What is master message 1?')" class="btn btn-link" type="button">
                Send TeXA
              </button>
            </div>
          </div>
        </div>


      </div>



    </div>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-dark header-footer-color text-white">
  <!-- Navbar content -->

  <div class="navbar-brand">Contact Us at - (800) 850-6442</div>
  <!--<div class="navbar-brand" href="#">Home <span class="sr-only">(current)</span></div>
    <div class="navbar-brand" href="#">Link</div>
    <div class="navbar-brand" href="#">Disabled</div> -->
  
</nav>


  








