
<div class="p-2 header-footer-color text-white">
<div style="width: 50%; float:left;">
  <div style="font-weight: bold;">
    <h1>TeXA</h1>
  </div>
  <div>
    <h4>Texas Assistant</h4>
  </div>
</div>

<div style="width: 50%; float:right;">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p style="font-weight: bold;">Child support program was started In 1975 by name "The Child Support
          Enforcement and Paternity Establishment Program (CSE)" in USA.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">Maximum amount of child support comes from employers.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">TANF program is a support service which uses state funds to provide cash
          assistance to Texas families.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">QUICK is the online portal to view data of different state's child support.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">More than 10 Million cases were active in USA by Dec 2016.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">Never Assistance cases were most in USA in 2016.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">CSENET system is being used for interstate file transfer.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">Medicaid is a program jointly funded by the states and the federal government
          that reimburses hospitals and physicians for providing medical care to qualifying people.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">In USA, Texas state has most revenue in child support.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">About two-thirds of child support collections come from withholding income by
          employers.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">CSD work with the families and friends of incarcerated parent so they can act
          as liaisons between the Child Support Division and the parent.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">CSD Help Establishing Responsive Orders and Ensuring Support (HEROES) for
          Children in Military Families program.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">The Texas OAG and TWC developed links between the IV-D courts, OAG’s child
          support efforts, and local workforce boards to implement a model employment program (NCP Choices) for
          unemployed NCPs.</p>
      </div>
      <div class="carousel-item">
        <p style="font-weight: bold;">The Child Support Review Process (CSRP) is an in-office administrative
          process to establish, modify, or enforce child,medical and dental support obligations and determine
          paternity.</p>
      </div>
    </div>
  </div>
</div>
</div>